<p>Dear {{ user.username }},</p>
<p>
    <h3>Congratulations, Your ticket has booked.</h3>
</p>
<p>................Ticket.............................</p>
<p>Theater Name -{{theaters_name}}</p>
<p>Movie Name -{{movie_name}}</p>
<p>Seats- {{ your_seat}}</p>
<p>Date-{{date}}</p>
<p>Time-{{time}}</p>
<p>..................................................</p>
<p>Sincerely,</p>
<p>The BookMyShow Team</p>