/* form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;

  } */

  .login-form {
  width: 300px;
  height: 40%;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-left: 35%;
  margin-top: 10%;
  background-color:  #e6e6ff;
  box-shadow: 3px 3px 5px 6px grey;
  }
.login-form  form {
  margin-left: 5%;
}

.register-form {
  width: 300px;
  height: 40%;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-left: 35%;
  margin-top: 10%;
  background-color:  #e6e6ff;
  box-shadow: 3px 3px 5px 6px grey;
}

.register-form  form {
  margin-left: 5%;
}

.movies_form {
  width: 300px;
  height: 90%;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-left: 35%;
  margin-top: 1%;
  background-color:  #e6e6ff;
  box-shadow: 3px 3px 5px 6px grey;

}
.movies_form  form {
  margin-left: 5%;
}

.main-block{
  display: grid;
  grid-auto-rows: auto;
}
.header {
    padding: 0;
    margin: 0;
    height: 5rem;
    width: 100%;
    background-color: #333545;
    display: grid;
    grid-auto-columns: 20% 50% 15% 5%;

  }

.logo a {
  grid-column-start: 1;
  margin-top: 3%;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  color: white;

}
.logo a {
  text-decoration: none;
}
.logo a img {
height: 95%;
margin-top: 3%;
}
.logo a p {
  margin-top: 3%;
  color: white;
  font-size: 3vh;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.search {
  grid-column-start: 2;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1.5%;
  height:70%;

}
#input-search {
  width: 95%;
  border-radius: 7px;

}
#search-icon {
  border-radius: 7px;

}

.user_name {
  grid-column-start: 3;
  margin-top: 9%;
  margin-left: auto;


}

.signin {
  grid-column-start: 4;
  margin-top: 25%;
  margin-left: auto;
  border-style: ridge;
  border-radius: 5px;
  height: 55%;


}


#sub-header {
  background-color: #1f2533;
  height: 4rem;
  margin-top: 0%;
  display: flex;
  flex-direction: row;


}

#sub-header a {
  margin-left: 2%;
  color: #CCC;
  margin-top: 0.8%;

}

.footer {
background-color: #333338;
text-align: center;

}

.footer p {
color: #CCC;

}

.carousel-inner img{
  width: 100%;
  height: 40%
}


.container-movies {
  background-color: #f2f2f2;
  display: grid;
  grid-auto-columns: 25% 75%;
  height: 50rem;
  margin-top: 1%;
}

.trending-searches {
  grid-column-start: 1;
  margin-left: 20%;
}

.movies-template{
  grid-column-start: 2;
  margin-top: 1.5%;

}

.movies-template img {
width: 30%;
height: 70%;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
margin-left: 1.5%;
}

.movies_trailer img {
  width: 100%;
  height: 35rem;
}

#book_ticket_button {
  width: 18%;
  height: 5rem;
  margin-left: 80%;
  margin-top: 1%;
  background-color: #0078ff;
  color: white;
}

#wall_paper {
  width: 100%;
  height: 35rem;
}

.select_ticket {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-left: 20%;

}



.movies_timing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
  background-color: #CCC;
}

.movies_timing p {
font-size: 18px;
font-weight: bold;
text-transform: uppercase;

}
.movies_timing button {
background-color: #1f2533;
color: #CCC;
}

#your_seat {
  visibility: visible;
}


.movie_theater_name {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 33%;
  text-transform: uppercase;

}

.movie_theater_name p{
  margin-left: 15%;
  background-color: #1f2533;
  color: #CCC;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;

}

input[type="checkbox"]{
width: 25px;
height: 25px;
}