{% extends "base.html" %}

{% block Main %}
    <div class="main-admin-container">

    <div class="movies_form">
    <form action="" method="post"  novalidate>
        <h3>Submit Movies Details</h3>

    {{ movies_form.hidden_tag() }}
    <p>
            {{ movies_form.theater_name.label }}<br>
            {{ movies_form.theater_name(size=32) }}<br>

    </p>
    <p>
            {{ movies_form.theater_id_value.label }}<br>
            {{ movies_form.theater_id_value(size=32) }}<br>

        </p>
    <p>
        {{ movies_form.movies_name.label }}<br>
        {{ movies_form.movies_name(size=32) }}<br>

    </p>
    <p>
        {{ movies_form.movies_id.label }}<br>
        {{ movies_form.movies_id(size=32) }}<br>

    </p>
    <p>
        {{ movies_form.start_date.label }}<br>
        {{ movies_form.start_date(size=32) }}<br>

    </p>
    <p>
        {{ movies_form.start_time.label }}<br>
        {{ movies_form.start_time(size=32) }}<br>

    </p>
    <p>
        {{ movies_form.wall_paper_image.label }}<br>
        {{ movies_form.wall_paper_image(size=32) }}<br>

    </p>

    <p>{{ movies_form.submit() }}</p>
</form>
</div>
</div>
{% endblock %}