{% extends "base.html" %}
{% block Main %}
{% include "header.html" %}
<div class="book_ticket">
    <img id="wall_paper" src="{{ url_for('static', filename='wall.PNG') }}">
    <div class="movie_theater_name">
            <p>{{movies_details[0].movies_name}}</p>
    </div>

    {% for post in movies_details %}
    <div class="movies_timing">
        <p><b>{{ post.theater_name}}</b></p>
        <p><b>{{ post.start_date }}</b></p>
        <p><b>{{post.start_time}}</b></p>
        <a href="/select_seats/{{post.movies_name}}/{{ post.theater_name}}/{{ post.start_date }}/{{post.start_time}}"><button>Select Seat</button></a>
    </div>
    {% endfor %}

</div>
{% include "footer.html" %}
{% endblock%}
