{% block Carousel %}
<div class="container" style="margin-top: 1%" >
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic"  data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic"  data-slide-to="1"></li>
              <li data-target="#carousel-example-generic"  data-slide-to="2"></li>
              <li data-target="#carousel-example-generic"   data-slide-to="3"></li>
              <!-- <li data-target="#carousel-example-generic"  data-slide-to="4"></li> -->
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active" >
                  <img src="{{ url_for('static', filename='2.webp') }}" >
              </div>
              <div class="item" >
                <img src="{{ url_for('static', filename='3.webp') }}" >
              </div>
              <div class="item" >
                <img src="{{ url_for('static', filename='4.webp') }}" >
              </div>
              <div class="item" >
                <img src="{{ url_for('static', filename='1.jpg') }}" >
              </div>

            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
{%endblock%}