
{% block container %}
<div class="container-movies">
    <div class="trending-searches">
        <h3>Trending Searches</h3>
         <p>
             {{ all_search_result }}
         </p>


    </div>
    <div class="movies-template">
        <h4><b style="margin-left: 1.5%">Movies</b></h4>
        {% for movie_image in unique_movies %}
            {% if movie_image[0] != None%}

            {% set var = namespace(a = movie_image[0]) %}
            <a href="/movies_pages/{{movie_image[1]}}"><img src="{{url_for('static',filename=movie_image[0])}}"></a>
        {% endif %}
        {% endfor %}

    </div>

</div>
{% endblock %}