{% block Footer %}
<div class="footer">
    <hr>
    <p>Copyright 2019 © Bigtree Entertainment Pvt. Ltd. All Rights Reserved.</p>
    <p>The content and images used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and images on this website is intended to promote the works and no endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law.

    </p>
</div>
{% endblock %}