{% block header%}

<div class="main-block">
        <div class="header">
          <div class="logo" href="/index">
              <a href="/index"><p>book</p>
              <img src="{{ url_for('static', filename='sm-icon.png')}}">
              <p>show</p></a>
          </div>
          <div class="search">
                <input type="text" id="input-search"  placeholder="Search for Movies, Events, Plays, Sports and Activities" name="search2">



          </div>
          <div class="user_name">
              {% if current_user.is_anonymous %}
              <a style="color: white; text-decoration:
              none;" href="#">Hi, Guest</a>
              {% else %}

              <a style="color: white; text-decoration:
              none;" href="#">Hi, {{ current_user.username }}</a>
              {% endif %}
          </div>

          <div class="signin">
              {% if current_user.is_anonymous %}
              <a style="color: white; text-decoration:
              none;" href="{{ url_for('login') }}">SignIn</a>
              {% else %}
              <a style="color: white; text-decoration:
              none;" href="{{ url_for('logout') }}">SignOut</a>
              {% endif %}
          </div>

        </div>
        <div id="sub-header" >
          <a href="/index">Movies</a>
          <a >Plays</a>
          <a >Events</a>
        </div>
      </div>
{% endblock %}