{% block movies_container%}

<div class="movies_trailer">
        <img src="{{ url_for('static', filename='wall.PNG') }}">

        <a href="/book_tickets/{{movies_name}}"><input type="button" id="book_ticket_button" value="BOOK TICKETS" name="BOOK TICKETS"></a>
</div>
{% endblock %}