{% extends "base.html" %}
{% block Main %}
{% include "header.html" %}

<div class="select_ticket">
<form action="" method="post">
      {{ form.hidden_tag() }}

        {% for id in range(20) %}
            {% if id not in total_seats_booked %}
                <label><input type="checkbox" class='in' value="{{id}}" name="seat"></label>
            {% else %}
                <label><input type="checkbox" class='in' value="{{id}}" name="seat" disabled></label>
            {% endif %}
        {% endfor %}<br><br>

        <button type="button">Confirm Ticket</button>
        <p>
        {{ form.your_seat.label }}<br>
        {{ form.your_seat(size=32) }}<br>
        </p>
    <p>{{ form.submit() }}</p>
</form>
</div>
{% include "footer.html" %}
{% endblock%}
